
body{
    background-image: linear-gradient(135deg, #5ec3c3, #abc1c1);
    width: 800px; 
    height: 820px; 
    border: 2px solid black; 
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
*{
    margin: 1px; padding: 1px; font-family: 'Montserrat', sans-serif;
}
input[type="text"]{
    height: 26px;
    width: 200px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid#040404;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    background-image: linear-gradient(135deg, #fcfdfd, #ecf5f6);
}
div {
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}
.profile-img{
    height: 0px;
    width: 150px;
    border-radius: 50%;
    margin-left: 340px;
}
.submit{
    height: 2px;
    width: 15px;
}